###### Requirements with Version Specifiers ######
### for app ###
py-cord[voice]==2.0.0b1
# janome>=0.4.1
gspread>=5.1.1
oauth2client>=4.1.3
asyncio>=3.4.3
git+https://github.com/landmaster135/landmasterlibrary.git
